
header {
  background-color: #eac926;
}


.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.main-header p {
  font-size: 20px;
}

#logo {
  width: 50vw;
}

#img-logo{
  max-width:65%;
}

.search {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
}

.search fieldset{
  display: flex;
  flex-grow: 1;
  justify-content:space-between;
  background-color: #ffffff;
}

.search fieldset input {
  border: none;
  outline: none;
  flex-grow: 1;
  
}

.img {
  max-width: 100%;
}

#lupa{
  padding:3px 5px;
}
.link {
  text-decoration: none;
  color: #000000;
  margin: 10px 10px;
}

.txt {
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}



.burger {
  text-align: center;
  width: 100%;
  background-color: #eac926;
  padding: 20px;
  display: inline-block;
}

.burger a {
  text-align: center;
  background-color: #1259c3;
  font-size: 40px;
  color: white;
  width: 5%;
  padding: 7px;
  display: inline;
  border-radius: 8px;
}


.nav-left,
.nav-right {
  display: none;
  margin: 10px;
}

.txtFooter {
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .main-header {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  #logo {
    width: 100%;
  }
  .txt {
    text-align: right;
  }


  #img-logo{
      max-width:55%;
    
  }
  .navnav {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .nav-left {
    display: flex;
    justify-content: flex-start;
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .burger,
  .burger a {
    display: none;
  }

}


