


#login fieldset{
    display: flex;
    border: none;
    margin: 15px;
    align-items: center;
   
}

#login fieldset input{
    flex: 1 0 auto;
    border: none;
    outline: none;
    padding:5px;
}



.hide{
    display: none;
}

.btn {
    flex: 1 0 auto;
    background-color: #00aeff;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 10px 0px;
    font-size: 20px;
    padding: 5px 10px;
    transition: background-color .3;
}

.btn:hover{
background-color:#0022AA;

}

::placeholder {
    padding: 5px;
    font-style: italic;
    color:#000000;
    font-weight: bold;

}


  
  