@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0 px;
  padding: 0 px;
  box-sizing: border-box;
}

header {
  background-color: #eac926;
}
body {
  font-family: "Roboto";
  background-color: #ebebeb;
}
footer {
  font-size: 12px;
  text-align: center;
}

main {
  width: 90vw;
  margin: auto;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.main-header p {
  font-size: 20px;
}

.logo {
  width: 35vw;
}

.search {
  width: 45vw;
}

.img {
  max-width: 100%;
}
.sinsub {
  text-decoration: none;
}
.espacio {
  margin: 10px 10px;
}
.txt {
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}

.txtCopyRight {
  font-size: 12px;
  font-weight: 100;
  text-align: left;
  margin: 20px;
}

.txtTit {
  font-size: 24px;
  text-align: center;
  font-weight: 900;
  margin: 5px auto;
  padding: 0.8rem;
  color: #666;
  background-color: #ebebeb;
}

.precios {
  font-size: 18px;
  font-weight: 400;
  margin: 0px 15px;
}

.descuentos {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #39b54a;
  margin: 0px 15px;
  align-self: flex-start;
}

.descripcion {
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  margin: 15px 15px;
  width: 100%;

  
}


.cajaArticulo {
  background-color: rgb(255, 255, 255);
  margin: 0px 0px 10px 0px;
  transition: all 0.5s ease-in-out;
}
.cajaArticulo:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.cajaArticulo section {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  padding: 15px;
  position: relative;
}

.cajaArticulo .descripcion {
  opacity: 0;
  transition: all 0.3ms ease;
}

.cajaArticulo .descripcion:hover {
  opacity: 1;
}

.burger {
  text-align: center;
  width: 100%;
  background-color: #eac926;
  padding: 20px;
  display: inline-block;
}

.burger a {
  text-align: center;
  background-color: #1259c3;
  font-size: 40px;
  color: white;
  width: 5%;
  padding: 7px;
  display: inline;
  border-radius: 8px;
}

.titFooter {
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
}

.fa-truck {
  font-size: 1.5rem;
  padding: 6px 13px 13px 5px;
  margin: 1px 7px;
  display: block;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -20px;
  color: #39b54a;
  transition: all 0.4s ease;
}

.fa-truck:hover {
  transform: rotate(-90deg);
}

.iconosFooter {
  font-size: 32px;
  color: #0000ff;
  margin: 1rem;
  transition: all 0.3ms ease;
}
.iconosFooter:hover {
  color: #e3cb5f;
}

.nav-left,
.nav-right {
  display: none;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .main-header {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .logo {
    width: 100%;
  }
  .txt {
    text-align: right;
  }

  .cajaArticulo {
    max-width: 45%;
  }
  .sectioncaja {
    display: flex;
    flex-wrap: wrap;
    gap: 25px
;
    justify-content: center;
  }
  .descripcion {
    display: block;
  }

  .navnav {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .nav-left {
    display: flex;
    justify-content: flex-start;
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .burger,
  .burger a {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .cajaArticulo {
    max-width: 20%;
  }

  .sectioncaja {
    display: flex;
    flex-wrap: wrap;
  }

  .flexfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
  }
}
