<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Librerias 
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css"/> -->
    <!-- Estilos   -->
    <link rel="stylesheet" href="/css/login.css"/>
    <title>Login</title>
</head>
<body>
    <form action="/" method="post">
       
        <fieldset>
            <legend class="hide">Nombre de usuario</legend>
            <label class="hide" for="nombreUsuario">Nombre de usuario</label>
            <input type="text" name="NombreUsuario" id="NombreUsuario" placeholder="Nombre de usuari@" required>
        </fieldset>
   

        <fieldset>
            <legend class="hide">Contraseña</legend>
            <label class="hide" for="pass">Escribí tu contraseña</label>
            <input type="password" name="pass" id="pass" placeholder="Escribí tu contraseña" required>
        </fieldset> 

        <fieldset>
            <button class="btn" type="submit">Enviar</button>
        </fieldset>
    </form>
</body>
</html>